<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5>About Us</h5>
          <p>We provide high-quality online education tools to enhance learning experiences.</p>
        </div>
  
        <div class="col-md-4">
          <h5>Quick Links</h5>
          <ul class="footer-links">
            <li><a routerLink="/dashboard">Dashboard</a></li>
            <li><a routerLink="/courses">Courses</a></li>
            <li><a routerLink="/contact">Contact</a></li>
            <li><a routerLink="/about">About</a></li>
          </ul>
        </div>
  
        <div class="col-md-4">
          <h5>Contact Us</h5>
          <p>Email: abc&#64;gmail.com</p>
          <p>Phone: +94 778642548</p>
          <p>Address: 123 Learning Street, Education City</p>
          <div class="social-icons">
            <a href="https://twitter.com" target="_blank">
                <img src="assets/twitter.jpeg" alt="Twitter" />
              </a>
              <a href="https://facebook.com" target="_blank">
                <img src="assets/facebook.png" alt="Facebook" />
              </a>
              <a href="https://linkedin.com" target="_blank">
                <img src="assets/linkedin.png" alt="LinkedIn" />
              </a>        
          </div>
        </div>
      </div>
    </div>
    
    <div class="footer-bottom">
      <p>&copy; 2024 Online Learning Platform. All Rights Reserved.</p>
    </div>
</footer>
