<app-header></app-header>
<div class="container" style="background-image: url('/assets/b.jpg');">
  <div class="home-content">
    <h1>Online Learning System</h1>
  </div>   
  <div class="col">
    <h5 class="text-uppercase mb-3 animated slideInDown" style="color: #f9f3f3;">
      Best Online learning platform
    </h5>
    <h5 class="display-3 text-white animated slideInDown">
      Learn Job-ready skills from free online courses with certificates
    </h5>
    <p class="text-white mb-4 pb-2">
      Explore a wide range of courses designed to enhance your expertise in technology, business, arts, and more. Start learning today!
    </p>
  </div>
</div>
<app-footer></app-footer>