.background {
    background-image: url('/assets/abcd.jpg'); /* Path to the background image */
    background-size: cover; /* Make sure the image covers the entire background */
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh; /* Ensure it covers the full viewport height */
    display: flex;
    align-items: center;
    justify-content: center;
  }